*{
  box-sizing: border-box;
}

.header {
  height: 100vh;
  background-color: #fff;
}

h1{
  font-family: cursive;
  font-size: 80px;
  text-align: center;
  padding-top: 220px;
  font-style: italic;
  letter-spacing:8px;
}

p{
  font-family: cursive;
  text-align: center;
  font-size: 30px;
}

.profile {
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.5) */
  /* background-image: url(vypocetni-2048165_1920.jpg); */
  /* background-color:rgba(0,0,0,0.5);
  background-blend-mode:lighten; */
  width: 100vw;
  background-size:cover;
  position: relative;
}

.profile-box{
  text-align: center;
  width: 100vw;
  /* height: 100%; */
  /* padding-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 120px;
}

.profile-pic{
  height: 300px;
  width: 300px;
  margin: 0 auto;
  /* position: absolute;
  top: 180px; */
  /* left: 300px; */
}

.profile-image{
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius:150px;
}

.profile-textbox{
  background-color: #444444	;
  color: #FFF;
  height: 500px;
  width: 700px;
  margin: 0 auto;
  /* position: absolute;
  top: 180px;
  left: 800px; */
  opacity: 0.7;
  /* background-color: rgba(0 0 0 0.1); */
  font-size: 22px;
  text-align: left;
  padding: 10px;
}

.bar{
  height: 100px;
  background-color:#FFF	;
  
}

.menu{
  display: flex;
  justify-content: space-around;
  height: 100%;
}

/* ul{
  margin: 0;
  padding: 0;
  list-style: none;
} */

.btn{
  width: 100%;
  line-height: 100px;
  text-align: center;
}
/* .main {
  height: 100vh;
  background-color: #383634;
  padding-top: 5px;
} */

/* .menu{
  display: flex;
  list-style: none;
} */

.menu_item{
  color: #5D99FF;
  font-family: Comic Sans MS;
  font-size: 40px;
}
/* .btn{
  width: 400px;
  height: 50px;
  text-align: center;
  margin: auto;
} */

.btn:hover{
  background-color: #D7EEFF;
  cursor: pointer;
}

.contents{
  /* height: 695px;
  height: 100vh; */
  display: flex;
  background-color: #EEEEEE;
  box-sizing: border-box;
}

.content.show{
  list-style: none;
  width: 100vw;
  max-width: 1500px;
  /* min-width: 1000px; */
  height: 100%;
  /* display: block; */
  display: flex;
  flex-wrap: wrap;
}

.content{
  display: none;
}

.links {
  height: 100vh;
  background-color: #fff;
}

.page{
  text-align: center;
  display: flex;
}

a{
  text-decoration: none;
  color: black;
}

/* p{
  margin: 0;
} */

.link{
  list-style: none;
  text-align: center;
  font-size: 60px;
  padding: 50px 0px;
  position: relative;
  top: 300px;
  /* left: 320px; */
  font-style: italic;
  letter-spacing:8px;
  margin: auto;
}

.link:hover{
  opacity: 0.2;
}

.front{
  height: 300px;
  width: 500px;
  /* min-width: 500px;
  max-width: 500px; */
  background-color: #FFF;
  margin: 20px auto;
  /* margin-top: 20px; */
  /* box-sizing: border-box; */
}

.back{
  height: 300px;
  width: 500px;
  background-color: #FFF;
  margin: 20px auto;
  /* margin: 20px; */
}

.DB{
  height: 300px;
  width: 500px;
  background-color: #FFF;
  margin: 20px auto; 
  /* margin: 20px; */
}

.ather{
  height: 300px;
  width: 500px;
  background-color: #FFF;
  margin: 20px auto;
  /* margin-top: 20px; */
  /* margin: 20px; */
}

.tittle{
  font-family: Comic Sans MS;
}

.subtittle{
  font-size: 30px;
  font-weight: bold;
  font-family: Comic Sans MS;
}

.sub{
  margin-left: 30px;
  font-size: 24px;
  padding-top: 20px;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas{
 font-size: 2rem;
 padding-right: 10px;
}

.data{
  /* display: flex; */
  /* width: 50vw; */
  /* width: 700px; */
  background-color: #FFF;
  margin: 20px auto; 
}

.data_box{
  display: flex;
  justify-content: space-between;
  /* width: 700px; */
  /* background-color: #FFF;
  margin: 20px auto;  */
}

.data_left{
  /* background-color: #FFF; */
  margin: 20px auto;
  /* width: 50%; */
}

.image{
  height: 200px;
  width: auto;
  margin: 10px;
}

.list_box{
  display: flex;
}

.list_tab1{
  background-color: #33FF99;
  color: #FFF;
  text-align: center;
  border-radius: 100px;
  margin: 5px;
  padding: 5px;
}

.list_tab2{
  background-color: #6495ED;
  color: #FFF;
  text-align: center;
  border-radius: 100px;
  margin: 5px;
  padding: 5px;
}

.list_tab3{
  background-color: #FFD700	;
  color: #FFF;
  text-align: center;
  border-radius: 100px;
  margin: 5px;
  padding: 5px;
}

.list_tab4{
  background-color: #FF0033;
  color: #FFF;
  text-align: center;
  border-radius: 100px;
  margin: 5px;
  padding: 5px;
}

.list_tab5{
  background-color: #FF6928;
  color: #FFF;
  text-align: center;
  border-radius: 100px;
  margin: 5px;
  padding: 5px;
}

.data_right{
  /* background-color: #FFF; */
  margin: 20px auto;
  /* width: 50%; */
}

.data_bottom{
  /* background-color: #FFF; */
  margin: 20px auto;
}

.icon2{
  background-color: #555555;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  color: #FFF;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 10px;
}

.icon2:hover{
  opacity: 0.5;
}

.text{
  font-size: 14px;
  width: 250px;
  text-align: left;
  font-family: 'Ludica Sans Unicode';
}

h4{
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}